<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <%-include('./partials/favicon.ejs')%>
    <title>404</title>
</head>
<body>
    <div>
        <div class="err">404</div>
        <div class="oops">Oops!</div>
        <div class="txt">The page you were looking for does not exist.</div>
        <div class="jk">(Unless you were looking for a page with a clueless monster staring at you. If that's the case, it definitely exists, and you definitely found it.)</div>
        <a href="/">Home →</a>
    </div>
    <div>
        <img src="/images/404-illustration.png" alt="" width="400" height="400">
    </div>
</body>
</html>